.App {
   display: flex;
   height: 100%;
   width: 100%;
   flex-direction: column;
}

.content {
   display: flex;
   flex-direction: row;
   padding: 20px;
   flex-wrap: wrap
}

.my-card {
   margin: 0 0 15px 15px;
   max-width: 350px;
   min-width: 200px;
   min-height: 200px;
   max-height: 500px;
   overflow: hidden;
}

.card-body {
   padding: 1.075rem !important;
   display: flex;
   flex-direction: column;
}

.delete-button {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
   flex: 1;
   .button {
      max-width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
   }
}

.text-area {
   margin-bottom: 10px;
}

.submit-button {
   float: right;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   max-width: 100px;
}