.App {
   display: flex;
   height: 100%;
   width: 100%;
   flex-direction: column;
}

.content {
   display: flex;
   flex-direction: row;
   padding: 25px;
}

.my-card {
   margin-left: 15px;
}
.text-area {
   margin-bottom: 10px;
}