.App {
   display: flex;
   height: 100%;
   width: 100%;
   flex-direction: column;
}

.content {
   display: flex;
   flex-direction: row;
   padding: 25px;
}

.my-card {
   margin-left: 15px;
   max-width: 300px;
}

.my-card-header {
   display: flex;
}

.my-card-header-text {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-right: 20px
}

.text-area {
   margin-bottom: 10px;
   margin-top: 10px;
}

.new-card-button {
   float: right;
}